{% extends "layout.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock  %}

{% block page_title %}
    anasayfa
{% endblock %}

{% block content %} 
    <div class="container mt-5">
        <div class="row">
            <div class="col-3">
                <!-- Categories content -->
                {% include "courses/partials/_categories.html" %}   
            </div>
            <div class="col-9">
               <h1>Kurslar Ana Sayfa</h1>   
               <p>Bu kurslar dizin sayfasıdır.</p>

               {% for course in courses %}                
                    {% comment %} {% if course.isActive %} {% endcomment %}
                        {% include "courses/partials/_course.html" %}
                    {% comment %} {% endif %} {% endcomment %}
               {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'courses/js/script.js' %}"></script>
{% endblock  %}