    {% comment %} <ul class="list-group">
        <li class="list-group-item"><a href="#">Web Programming</a></li>
        <li class="list-group-item"><a href="#">Mobile Programming</a></li>
        <li class="list-group-item"><a href="#">Other Programming</a></li>
    </ul> {% endcomment %}

        <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item"><a href="{% url "courses_by_category" category %}">{{category}}</a></li>
        {% endfor %}
    
    </ul>