<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course App | {% block page_title %}{% endblock %} </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    {% block css_file %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/kurslar">Course App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% comment %} menu  {% endcomment %}
    {% comment %} content {% endcomment %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-3">
                <!-- Sidebar content -->
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Web Programming</a></li>
                    <li class="list-group-item"><a href="#">Mobile Programming</a></li>
                    <li class="list-group-item"><a href="#">Other Programming</a></li>
                </ul>
            </div>
            <div class="col-9">
                <!-- Main content -->
                 {% block content %}{% endblock %}
            </div>
        </div>
    </div>


    {% comment %} <div class="container mt-5">
        <h1>Hello, world!</h1>
        <p>This is a simple template using Bootstrap 5.2.2.</p>
    </div> {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>